<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>admin_username</key>
	<string>hackers%40outright.com</string>
	<key>admin_password</key>
	<string>salarium17</string>
</dict>
</plist>
